body {
  background-color: #3f89c6;
  font-family: Merienda;
  color: white;
  margin-top: calc(.5rem + .5vw);
}

.headingHome {
  text-align: center;
  margin-bottom: calc(1.1rem + .5vw);
}

.headingHome h1 {
  margin-top: 0;
  font-size: calc(1.5rem + 1vw);
}

#home {
  color: black;
  font-size: calc(1.3rem + 1vw);
  position: absolute;
  top: calc(.5rem + .3vw);
  right: calc(.3rem + 1vw);
}

.containerDiv {
  background: white;
  border: 1px solid black;
  width: calc(10rem + 50vw);
  box-shadow: 0 0 10px 1px rgba(23, 23, 23, 0.456);
  border-radius: 10px;
  padding-top: calc(1rem + .5vw);
  padding-bottom: calc(2.2rem + .5vw);
  padding-left: calc(1rem + .5vw);
  padding-right: calc(1rem + .5vw);
  margin-bottom: calc(1rem + 1vw);
}

hr {
  color: black;
  margin: calc(.5rem + .5vw);
}

.threadCont,
.posts {
  border-radius: calc(1rem + .7vw);
  border-top-right-radius: 0;
  background-color: #2f4552;
  color: white;
  padding-top: calc(.5rem + .5vw);
  padding-bottom: calc(.2rem + .5vw);
  padding-left: calc(.8rem + .5vw);
  padding-right: calc(.8rem + .5vw);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2),
    0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0;
  margin-bottom: calc(.7rem + 1vw);
  font-size: calc(.7rem + .5vw);
  min-height: calc(4rem + 1vw);
  position: relative;
}

.threadCont small {
  font-size: calc(.6rem + .3vw);
  position: absolute;
  bottom: calc(.3rem + .2vw);
}

.posts {
  border-bottom-left-radius: 0;
  border-top-right-radius: calc(1rem + .7vw);
  background-color: rgb(2, 93, 129);
  position: relative;
}

.posts p {
  font-size: calc(.7rem + .2vw);
}

.posts p small {
  position: absolute;
  bottom: calc(.3rem);
  font-size: calc(.6rem + .3vw)
}

br+hr {
  margin-top: -10px;
}

h3 {
  margin-left: 15px;
  margin-bottom: 0;
  color: black;
  font-size: calc(1rem + .5vw);
}

#replyForm{
  padding: 5px;
}
#reply{
  width: 100%;
  height: calc(5rem - .5vw);
  border-radius: 15px;
  padding: calc(.2rem + .1vw) calc(.7rem + .5vw);
  font-size: calc(.8rem + .2vw);
  border: 1px solid black;
}
#submit{
  border-radius: 20px;
  border: none;
  padding: calc(.3rem + .1vw) calc(.8rem + .3vw);
  font-size: calc(.9rem + .2vw);
  background-color: #3f89c6;
  background-color: #386d8f;
  color: white;
  float: right;
}

#login{
  width: 100%;
  text-align: center;
  color: red;
  border-radius: calc(.5rem + .5vw);
  padding: calc(.2rem + .2vw);
  border: 1px solid red;
  font-size: calc(.8rem + .3vw);
}
#goBottomArrow {
  color: #1bff4190;
  background-color: rgba(42, 75, 61, 0.534);
  position: fixed;
  bottom: 2rem;
  right: calc(.1rem + 1.4vw);
  border-radius: 50%;
  width: calc(1.5rem + 1.4vw);
  height: calc(1.5rem + 1.4vw);
  border: none;
  visibility: hidden;
  z-index: 2;
}
#arrow{
  font-size: calc(.7rem + .4vw);
}

#goBottomArrow:hover {
  color: #1bff41;
  background-color: rgba(0, 0, 0, 0.699);
}

#goBottomArrow:active {
  color: #1bff41;
  background-color: rgb(0, 0, 0);
}
/*#replyForm {
  display: flex;
  justify-content: center;
  margin-top: calc(1rem + .5vw);
}

 #reply {
  width: calc(30rem + 15vw);
  height: calc(2rem + .5vw);
  border-radius: 20px;
  padding-left: calc(.5rem + .5vw);
  font-size: calc(.7rem + .5vw);
}

#submit {
  border: none;
  border-radius: 50%;
  padding: calc(.5rem + .5vw);
  background-color: white;
  position: relative;
  right: 1.5rem;
  bottom: calc(.2rem + .5vw);
  background-color: rgb(60, 118, 142);
  background-color: rgb(2, 80, 110);
  color: white;
  transition: all 0.25s;
} */



#submit:hover {
  background-color: rgb(3, 61, 84);
}

#submit:active {
  background-color: rgb(2, 80, 110);
}

@media (max-width:500px) {
  #goBottomArrow{
    right: 3px;
  }
}
